.card-dh{
    width: 230px;
    height: 200px;
}

::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
        background: rgb(199, 199, 199); /* color of the tracking area */
        border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: black;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(199, 199, 199);  /* creates padding around scroll thumb */
  }
  .cards-colored{
    display: flex;justify-content: space-between;padding-top: 15px;
  }
  .diagnostic-list{
    padding-top: 10px;padding-left: 10px;
  }
  .dl-card{
    margin-top: 10px;height: 245px;
  }